/* Custom classes */

h3, h4 {
  margin-top: 1em;
}

h3.entry-title {
  margin-top: 0em;
}

footer {
  margin-top: 2em;
  margin-bottom: 2em;
}

.octave-logo a,
.octave-logo a:hover {
  color: #FFF;
  font-weight: bold;
}

.landing-page-logo {
  color: #0790c0;
  font-weight: 700;
  margin: 0 0 1rem 0;
  font-size: 2.33rem;
}

.dark-background {
  background: #333;
}

/* Foundation 6 modifications */

.title-bar,
.top-bar,
.top-bar ul {
  background: #333;
}

.top-bar {
  max-width: 1200px;
  margin: auto;
}

.top-bar ul li a {
  color: #FFF;
}

.top-bar ul li a:hover {
  background-color: #585858;
}

@media screen and (max-width: 1023px) {
  .top-bar .top-bar-left { display: none; }
  .top-bar .top-bar-right { margin-left: 0px; }
}

.reveal img {
  width: 100%;
}

a.button.warning { /* RSS Feed */
  font-weight: bold;
  color: #FFF;
}

/* Foundation 6 responsive buttons */

@media screen and (max-width: 39.9375em) {
  .button.small-only-expanded {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0; } }
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .button.medium-only-expanded {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0; } }
@media screen and (max-width: 63.9375em) {
  .button.medium-down-expanded {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0; } }
@media print, screen and (min-width: 40em) {
  .button.medium-expanded {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0; } }
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
  .button.large-only-expanded {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0; } }
@media screen and (max-width: 74.9375em) {
  .button.large-down-expanded {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0; } }
@media print, screen and (min-width: 64em) {
  .button.large-expanded {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0; } }


/* Syntax highlighter styles */

.highlight code {
	border: inherit;
	background-color: inherit;
	line-height: 1;
	padding: 0;
}

.highlight {
	margin: 0 0 1.5rem 0;
	border: 1px solid #ccc;
	padding: 0.5em;
	border-radius: 3px;
	font-size: 90%;
	width: 100%;
}

.highlight table {
	border: none;
}
