RewriteEngine on

RewriteRule ^bugs(/.*|.html|)$        https://octave.org/support [R=301,L]
RewriteRule ^contribute(/.*|.html|)$  https://octave.org/get-involved [R=301,L]
RewriteRule ^license(/.*|.html|)$     https://octave.org/copyright/ [R=301,L]
RewriteRule ^packages(.html|)$        https://packages.octave.org/ [R=301,L]
RewriteRule ^packages/(.*)$           https://packages.octave.org/$1 [R=301,L]
RewriteRule ^octave.pdf               https://docs.octave.org/octave.pdf [R=301,L]
RewriteRule ^doc(.html|)$             https://docs.octave.org/ [R=301,L]
RewriteRule ^doc/(.*)$                https://docs.octave.org/$1 [R=301,L]
RewriteRule ^doxygen(.html|)$         https://docs.octave.org/doxygen/ [R=301,L]
RewriteRule ^doxygen/(.*)$            https://docs.octave.org/doxygen/$1 [R=301,L]
RewriteRule ^hg(.html|)$              https://hg.octave.org/ [R=301,L]
RewriteRule ^hg/(.*)$                 https://hg.octave.org/$1 [R=301,L]
RewriteRule ^mxe-pkg-src(.html|)$     https://mxe-pkg-src.octave.org/ [R=301,L]
RewriteRule ^mxe-pkg-src/(.*)$        https://mxe-pkg-src.octave.org/$1 [R=301,L]
RewriteRule ^testfailure/(.*)$        https://savannah.gnu.org/bugs/$1 [R=301,L]
