<FilesMatch "\.(in|m4)$">
  Order allow,deny
  Deny from all
</FilesMatch>

<FilesMatch "Makefile$">
  Order allow,deny
  Deny from all
</FilesMatch>

<FilesMatch "CVS">
  Order allow,deny
  Deny from all
</FilesMatch>

RewriteEngine on

RewriteBase /software/octave/

RewriteRule ^contribute.html get-involved.html [L]
RewriteRule ^octave.pdf https://www.octave.org/octave.pdf [R=301,L]
RewriteRule ^doc/(.*)$ https://www.octave.org/doc/$1 [R=301,L]
