<FilesMatch "\.(in|m4)$">
  Order allow,deny
  Deny from all
</FilesMatch>

<FilesMatch "Makefile$">
  Order allow,deny
  Deny from all
</FilesMatch>

<FilesMatch "CVS">
  Order allow,deny
  Deny from all
</FilesMatch>

RewriteEngine on

RewriteBase /software/octave/

RewriteRule ^octave.pdf https://www.octave.org/octave.pdf [R=301,L]

RewriteRule ^NEWS.html NEWS-4.2.html [L]
RewriteRule ^contribute.html get-involved.html [L]

# The screenshot URL below is a permalink to a png-file of **exact**
# dimension 1600x900 pixel, see https://savannah.gnu.org/bugs/?53432.
RewriteRule ^img/screenshot.png img/GNU_Octave_4-4-0_screenshot_1600x900.png [L]

RewriteRule ^doc/(.*)$ https://www.octave.org/doc/$1 [R=301,L]
