<figure class="highlight"><pre><code class="language-octave" data-lang="octave"><span></span><span class="n">b</span> <span class="p">=</span> <span class="p">[</span><span class="mi">4</span><span class="p">;</span> <span class="mi">9</span><span class="p">;</span> <span class="mi">2</span><span class="p">]</span> <span class="c"># Column vector</span>
<span class="n">A</span> <span class="p">=</span> <span class="p">[</span> <span class="mi">3</span> <span class="mi">4</span> <span class="mi">5</span><span class="p">;</span>
      <span class="mi">1</span> <span class="mi">3</span> <span class="mi">1</span><span class="p">;</span>
      <span class="mi">3</span> <span class="mi">5</span> <span class="mi">9</span> <span class="p">]</span>
<span class="n">x</span> <span class="p">=</span> <span class="n">A</span> <span class="o">\</span> <span class="n">b</span>     <span class="c"># Solve the system Ax = b</span></code></pre></figure>
