<ul class="tabs" data-tab>
  <li class="tab-title"><a href="#source">Source</a></li>
  <li class="tab-title active"><a href="#linux">GNU/Linux</a></li>
  <li class="tab-title"><a href="#mac">Mac</a></li>
  <li class="tab-title"><a href="#bsd">BSD</a></li>
  <li class="tab-title"><a href="#windows">Windows</a></li>
</ul>
<div class="tabs-content">
  <div class="content active" id="linux">
    <p>
      Executable versions of Octave for GNU/Linux systems are provided by the individual distributions. Distributions known to package Octave include <a href="//debian.org">Debian</a>, <a href="//ubuntu.org">Ubuntu</a>, <a href="//fedoraproject.org">Fedora</a>, <a href="//gentoo.org">Gentoo</a>, and <a href="//opensuse.org">SuSE</a>. These packages are created by volunteers. The delay between an Octave source release and the availability of a package for a particular GNU/Linux distribution varies. The Octave project has no control over that process.
    </p>
  </div>
  <div class="content" id="mac">
    <p>
      The <a href="{{site.wiki_url}}">Octave Wiki</a> has some instructions for installing Octave on OS X systems. A Homebrew source package may also be available but is not maintained by the Octave developers.
    </p>
  </div>
  <div class="content" id="bsd">
    <p>
      Executable versions of Octave for BSD systems are provided by the individual distributions. Both <a href="//freebsd.org">FreeBSD</a> and <a href="//openbsd.org">OpenBSD</a> have Octave packages. These packages are created by volunteers. The delay between an Octave source release and the availability of a package for a particular GNU/Linux distribution varies. The Octave project has no control over that process.
    </p>
  </div>
  <div class="content" id="windows">
    <p>
      Windows binaries with corresponding source code can be downloaded from <a href="https://ftp.gnu.org/gnu/octave/windows/">https://ftp.gnu.org/gnu/octave/windows/</a>
    </p>
  </div>
  <div class="content" id="source">
    <p>
      The latest released version of Octave is always available from <a href="ftp://ftp.gnu.org/gnu/octave">ftp://ftp.gnu.org/gnu/octave</a>. 
    </p>
  </div>
</div>