<ul class="tabs" data-tab>
  <li class="tab-title"><a href="#source">Source</a></li>
  <li class="tab-title active"><a href="#linux">GNU/Linux</a></li>
  <li class="tab-title"><a href="#macos">macOS</a></li>
  <li class="tab-title"><a href="#bsd">BSD</a></li>
  <li class="tab-title"><a href="#windows">Windows</a></li>
</ul>
<div class="tabs-content">
  <div class="no-js content active" id="linux">
    <p>
      Executable versions of GNU Octave for GNU/Linux systems are provided
      by the individual distributions.  Distributions known to package Octave
      include <a href="https://www.debian.org/">Debian</a>,
      <a href="https://www.ubuntu.com/">Ubuntu</a>,
      <a href="https://getfedora.org/">Fedora</a>,
      <a href="https://gentoo.org/">Gentoo</a>, and
      <a href="https://www.opensuse.org/">openSUSE</a>.
      These packages are created by volunteers.  The delay between an Octave
      source release and the availability of a package for a particular
      GNU/Linux distribution varies.
    </p>
    <p>
      Alternatively, many distributions support
      <a href="https://flatpak.org/setup/">Flatpak</a> and one can obtain
      <a href="https://flathub.org/apps/details/org.octave.Octave">GNU Octave
      from Flathub</a>.
    </p>
  </div>
  <div class="no-js content" id="macos">
    <p>
      The <a href="{{ site.wiki_url }}/Octave_for_MacOS_X">Octave Wiki</a>
      has instructions for installing Octave on macOS systems.  Octave may
      also be available in third-party package managers such as
      <a href="https://brew.sh/">Homebrew</a>,
      <a href="https://www.macports.org">MacPorts</a>, or
      <a href="http://www.finkproject.org">Fink</a>.
    </p>
  </div>
  <div class="no-js content" id="bsd">
    <p>
      Executable versions of Octave for BSD systems are provided by the
      individual distributions.  Both
      <a href="https://www.freebsd.org/">FreeBSD</a> and
      <a href="https://www.openbsd.org/">OpenBSD</a> have Octave packages.
      These packages are created by volunteers.  The delay between an Octave
      source release and the availability of a package for a particular
      GNU/Linux distribution varies.  The Octave project has no control over
      that process.
    </p>
  </div>
  <div class="no-js content" id="windows">
    <p>
      <div data-alert class="alert-box info radius">
        <b>Note:</b> All installers below bundle several
        <b>Octave Forge packages</b>
        so they don't have to be installed separately.
        After installation type <code>pkg list</code> to list them.
        <a href="https://wiki.octave.org/Octave_for_Microsoft_Windows">Read more.</a>
        <a href="#" class="close">&times;</a>
      </div>
      <ul>
        <li>
          <p>
            Windows-64 (recommended)
            <ul>
              <li>
                <a href="https://ftpmirror.gnu.org/octave/windows/octave-5.2.0_1-w64-installer.exe">octave-5.2.0_1-w64-installer.exe</a>
                (~ 300 MB)
                <a href="https://ftpmirror.gnu.org/octave/windows/octave-5.2.0_1-w64-installer.exe.sig">[signature]</a>
              </li>
              <li>
                <a href="https://ftpmirror.gnu.org/octave/windows/octave-5.2.0_1-w64.7z">octave-5.2.0_1-w64.7z</a>
                (~ 300 MB)
                <a href="https://ftpmirror.gnu.org/octave/windows/octave-5.2.0_1-w64.7z.sig">[signature]</a>
              </li>
              <li>
                <a href="https://ftpmirror.gnu.org/octave/windows/octave-5.2.0_1-w64.zip">octave-5.2.0_1-w64.zip</a>
                (~ 530 MB)
                <a href="https://ftpmirror.gnu.org/octave/windows/octave-5.2.0_1-w64.zip.sig">[signature]</a>
              </li>
            </ul>
          </p>
        </li>
        <li>
          <p>
            Windows-32 (old computers)
            <ul>
              <li>
                <a href="https://ftpmirror.gnu.org/octave/windows/octave-5.2.0_1-w32-installer.exe">octave-5.2.0_1-w32-installer.exe</a>
                (~ 275 MB)
                <a href="https://ftpmirror.gnu.org/octave/windows/octave-5.2.0_1-w32-installer.exe.sig">[signature]</a>
              </li>
              <li>
                <a href="https://ftpmirror.gnu.org/octave/windows/octave-5.2.0_1-w32.7z">octave-5.2.0_1-w32.7z</a>
                (~ 258 MB)
                <a href="https://ftpmirror.gnu.org/octave/windows/octave-5.2.0_1-w32.7z.sig">[signature]</a>
              </li>
              <li>
                <a href="https://ftpmirror.gnu.org/octave/windows/octave-5.2.0_1-w32.zip">octave-5.2.0_1-w32.zip</a>
                (~ 447 MB)
                <a href="https://ftpmirror.gnu.org/octave/windows/octave-5.2.0_1-w32.zip.sig">[signature]</a>
              </li>
            </ul>
          </p>
        </li>
        <li>
          <p>
            Windows-64 (64-bit linear algebra for large data)<br>
            <small>
              Unless your computer has more than ~32GB of memory
              <strong>and</strong> you need to solve linear algebra problems
              with arrays containing more than ~2 billion elements, this
              version will offer no advantage over the recommended Windows-64
              version above.
            </small>
            <ul>
              <li>
                <a href="https://ftpmirror.gnu.org/octave/windows/octave-5.2.0_1-w64-64-installer.exe">octave-5.2.0_1-w64-64-installer.exe</a>
                (~ 286 MB)
                <a href="https://ftpmirror.gnu.org/octave/windows/octave-5.2.0_1-w64-64-installer.exe.sig">[signature]</a>
              </li>
              <li>
                <a href="https://ftpmirror.gnu.org/octave/windows/octave-5.2.0_1-w64-64.7z">octave-5.2.0_1-w64-64.7z</a>
                (~ 279 MB)
                <a href="https://ftpmirror.gnu.org/octave/windows/octave-5.2.0_1-w64-64.7z.sig">[signature]</a>
              </li>
              <li>
                <a href="https://ftpmirror.gnu.org/octave/windows/octave-5.2.0_1-w64-64.zip">octave-5.2.0_1-w64-64.zip</a>
                (~ 490 MB)
                <a href="https://ftpmirror.gnu.org/octave/windows/octave-5.2.0_1-w64-64.zip.sig">[signature]</a>
              </li>
            </ul>
          </p>
        </li>
      </ul>
    </p>
    <p>
      All Windows binaries with corresponding source code can be downloaded from
      <a href="https://ftpmirror.gnu.org/octave/windows/">https://ftpmirror.gnu.org/octave/windows/</a>.
    </p>
  </div>
  <div class="no-js content" id="source">
    <p>
      The latest released version of Octave is always available from
    </p>
    <ul>
      <li>https://ftp.gnu.org/gnu/octave</li>
      <li>ftp://ftp.gnu.org/gnu/octave</li>
    </ul>
    <p>
      Please download from
      <a href="https://ftpmirror.gnu.org/octave">https://ftpmirror.gnu.org/octave</a>,
      which will redirect automatically to a nearby
      <a href="https://www.gnu.org/order/ftp.html">mirror site</a>.
    </p>
  </div>
</div>
