<!--

This is the community news page for Octave.  It is displayed in the
"Community News" display area of the Octave GUI.  It should not have
the usual page header that other pages on the Octave web site have.
The following string must be present for Octave to recognize and
display this page as the comunity news page:

  this-is-the-gnu-octave-community-news-page
  community-news-page-serial=7

-->

<!DOCTYPE html>
<html>
<head>
<title>Octave Community News</title>
<style type="text/css">
<!--
body {
}
-->
</style>
</head>
<body>

{{ content }}

</body>
</html>
