<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | lstrip | rstrip | truncate: 140 }}">
    <meta property="og:title" content="{{ page.title | default: site.title }}">
    <meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html | lstrip | rstrip | truncate: 140 }}">
    <meta property="og:image" content="{{ "/img/octave-logo.png" | absolute_url }}">
    <meta property="og:image:alt" content="GNU Octave">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta name="twitter:card" content="summary">

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css"
      integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I="
      crossorigin="anonymous">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="{{ "/css/app.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/css/syntax-highlight.css" | relative_url }}">

    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js"
      integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o="
      crossorigin="anonymous"></script>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | relative_url }}">
  </head>

  <body>

    <div data-sticky-container>
      <div class="dark-background" data-sticky data-options="marginTop:0;">
        <div class="top-bar">
          <div class="top-bar-left octave-logo">
            <a href="{{ "/" | relative_url }}">
              <img src="{{ "/img/octave-logo.svg" | relative_url }}"
                    style="width: 32px; height: auto" alt="GNU Octave logo">
              <span>{{ site.title }}</span>
            </a>
          </div>
          <div class="top-bar-right">
            <ul class="dropdown menu" data-dropdown-menu>
              {%- for page in site.pages -%}
              {%- if page.menu -%}
              <li>
                <a href="{{ page.url | relative_url }}">{{ page.icon }}
                  {{ page.title }}
                </a>
              </li>
              {%- endif -%}
              {%- endfor -%}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="white">
      <div class="grid-container grid-container-mod vertical-stretch">

        {{ content }}

        <script>
          $(document).foundation();
        </script>
      </div>
    </div>

    <footer>
      <div class="grid-container grid-container-mod">
        <ul class="dropdown menu" data-dropdown-menu>
          {%- for page in site.pages -%}
          {%- if page.footer -%}
          <li>
            <a href="{{ page.url | relative_url }}">{{ page.icon }}
              {{ page.title }}
            </a>
          </li>
          {%- endif -%}
          {%- endfor -%}
        </ul>
        &nbsp;
        <p>
          Copyright © 1998-{{ site.time | date: "%Y" }} John W. Eaton.
          This work is licensed under a
          <a rel="license" href="https://creativecommons.org/licenses/by-nd/4.0/">
          Creative Commons Attribution-NoDerivatives 4.0 International License</a>.
          Get the <a href="http://hg.octave.org/web-octave/file/tip">page sources</a>.
        </p>
      </div>
    </footer>

  </body>

</html>
